<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                <i class="fa fa-exclamation-triangle mr-1" style="color: coral;" aria-hidden="true"></i></h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details">
                  Sorry, an error has occured, Requested page not found!
              </div>
              <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-left mr-1" aria-hidden="true"></i>
                     Back to home</a>
              </div>
          </div>
      </div>
  </div>
</div>